* {
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 56px;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1440px;
  height: var(--header-height);
  margin: 0 auto;
  z-index: 100;
}

footer {
  height: 739px;
  background: linear-gradient(180deg, rgba(195, 212, 244, 0) 0%, #c3d4f4 100%);
  padding: 104px 167px 67px 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-ctr {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
}

.footer-join {
  text-align: right;
}

.footer-bottom {
  margin-top: auto;
  margin-bottom: 24px;
}

.footer-copyright {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1px;
}

/*
HOME
 */
.hero {
  height: 720px;
  display: flex;
}

.hero-img {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  height: 120px;
  background: red;
  opacity: 50%;
}

.carousel {
  height: 752px;
  background: yellow;
}

/*
PDP
 */
.product-img {
  aspect-ratio: 0.75;
  object-fit: contain;
  width: 100%;
}

/* ?: maybe it can be the main
 */
.pdp-ctr {
  display: flex;
  margin-top: var(--header-height);
  padding-left: 56px;
  padding-right: 60px;
}

.product-img-ctr {
  flex: 1;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-template-rows: min-content;
}

.product-info {
  width: 41.8%;
  background: violet;
  padding-top: 56px;
}

.product-details {
  width: 60%;
  gap: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (max-width: 375px) {
  body {
    background: red;
  }
}
