@font-face {
  font-family: 'Roboto';
  src: url('static/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Forum';
  src: url('static/fonts/Forum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Forum, sans-serif;
}

main {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  margin: 0 auto;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 var(--offset-right) 0 var(--offset-left);
  background: linear-gradient(180deg, #c3d4f4 0%, rgba(195, 212, 244, 0) 100%);
}

header .nav-link,
header p {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.14px;
  color: var(--primary-offblack);
}

header > div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

header > div:nth-child(2) {
  padding: 12px 0;
}

header a,
header button {
  background: none;
  position: relative;
  cursor: pointer !important;
}

#controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

#search-button {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 8px 7px 7px 8px;
  margin-top: -4px;
}

#search-ctr {
  display: flex;
  align-items: center;
  gap: 8px;
}
#right-ctr p {
  white-space: nowrap;
}

.cart-counter {
  position: absolute;
  right: -2px;
  top: 0;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  background: var(--secondary-amethyst-purple);
}

footer {
  height: 739px;
  background: linear-gradient(180deg, rgba(195, 212, 244, 0) 0%, #c3d4f4 100%);
  padding: 104px 167px 67px 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .accordion-minus,
footer .accordion-plus {
  display: none;
}

.accordion-minus {
  position: absolute;
  right: 0;
  top: 50%;
  width: 16px;
  height: 0.5px;
  background: black;
}
.accordion-plus {
  position: absolute;
  right: 0;
  top: 35%;
  font-size: 16px;
  font-weight: 100;
}

footer button {
  display: none;
}

footer h3 {
  color: var(--primary-offblack);
  font-family: Forum;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.64px;
}

footer > .top {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
}

footer p {
  color: var(--primary-offblack);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.14px;
}

footer p.strong {
  font-weight: 500;
}

footer .line-group {
  display: flex;
  padding: 4px 12px 4px 8px;
  align-items: center;
  gap: 4px;
}

footer .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  font-weight: 500;
}

footer .column:first-child {
  gap: 32px;
  font-weight: 400;
}

footer .column:last-child {
  align-items: flex-end;
  text-align: right;
}

footer .column .group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

footer .column:first-child .group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

footer .bottom {
  margin-top: auto;
  text-align: center;
}

footer .copyright {
  color: #000;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 12px */
  letter-spacing: 0.1px;
  margin-top: 24px;
}

/*
HOME
 */
#hero {
  display: flex;
  width: 100%;
  position: relative;
}

#hero > div {
  flex: 1;
  background: var(--secondary-mellow-yellow-rgba);
}

#hero .ctr {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#hero .content {
  width: 50%;
  padding: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#hero p {
  color: var(--primary-offwhite);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.16px;
}

#hero .title {
  font-family: Forum;
  margin-bottom: 24px;
}

#hero .nav-ctr {
  display: flex;
  gap: 8px;
}

home-page .nav-link {
  display: flex;
  height: 40px;
  padding: 14px 16px 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--secondary-peach-orange);
  color: var(--primary-offblack);
  text-align: center;
  font-family: Forum;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.48px;
  white-space: nowrap;
}

.nav-link.wide {
  padding: 17px 48px 15px 48px;
}

.product-card {
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.product-card .img-ctr {
  position: relative;
  width: inherit;
  display: flex;
  flex-direction: column;
}

.product-card .buy {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  padding: 4px 13px 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  background: var(--primary-offblack);
  color: var(--primary-offwhite);
  font-family: Forum;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.48px;
}

.product-card .buy object {
  position: unset;
}

.product-card .buy svg {
  fill: currentColor;
}

.product-card .label {
  position: absolute;
  top: 12px;
  left: 50%;
  background: var(--secondary-cherry-pink);
  color: var(--primary-offwhite);
  padding: 5px 12px;
  border-radius: 200px;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 15.4px */
  letter-spacing: 0.33px;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card object {
  position: absolute;
  top: 8px;
  right: 8px;
}

.product-card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  flex: 1;
  white-space: nowrap;
}

.product-card .content .title {
  color: var(--primary-offblack);
  font-family: Forum;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.64px;
}
.product-card .content .description {
  color: var(--functional-dark-grey, #58554c);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.14px;
}
.product-card .content .price-ctr {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}
.product-card .content .price {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: var(--primary-offblack);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.16px;
}
.product-card .content .price.original {
  color: var(--secondary-cherry-pink);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.12px;
  text-decoration: line-through;
}

home-page .product-nav {
  display: block;
  width: 100%;
  height: 100%;
}

#hero .scroll {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background: var(--secondary-peach-orange);
  color: var(--primary-offblack);
  padding: 4px;
  cursor: pointer;
  z-index: 1;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-16px, 12px);
}

#hero .scroll > object {
  pointer-events: none;
}

.hero-img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1;
}

.spacer {
  height: 120px;
  opacity: 50%;
}

.products {
  margin-bottom: 40px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: var(--offset-left);
}

.glide__slide {
  /* height: inherit !important; Make sure each slide takes 100% height of the Glide.js container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide__arrows {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

.glide__arrow {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background: var(--secondary-peach-orange);
  color: var(--primary-offblack);
  padding: 4px;
  cursor: pointer;
}

.glide__arrow:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.glide__arrow:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.product-card img {
  object-fit: cover;
  max-height: 435px;
  height: 30vw;
  position: relative;
  z-index: -1;
}

.carousel h3 {
  color: var(--primary-offblack);
  text-align: center;
  font-family: Forum;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
  letter-spacing: 1.28px;
}

.carousel .category-button {
  color: var(--primary-offblack);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.16px;
  background: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  padding: 5px 0;
}
.carousel button.active {
  border-color: var(--primary-offblack);
}

.categories {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 16px;
  margin-bottom: 40px;
  margin-right: 56px;
  position: relative;
}

/*
PDP
 */
.product-img {
  aspect-ratio: 0.75;
  object-fit: cover;
  width: 100%;
  border: 1px solid transparent;
}

/* ?: maybe it can be the main
 */
.pdp-ctr {
  display: flex;
  margin-top: var(--header-height);
  padding-left: 56px;
  padding-right: 60px;
}

.product-img-ctr {
  flex: 1;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-template-rows: min-content;
}

.product-info {
  width: 41.8%;
  padding-top: 56px;
  gap: 24px;
  display: flex;
  flex-direction: column;

  padding: 56px 111px 0px 119px;
  gap: 40px;
  flex-shrink: 0;
}

pdp-page .first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

pdp-page .first h3 {
  color: var(--primary-offblack);
  font-family: Forum;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
  letter-spacing: 0.96px;
  flex: 1;
}
pdp-page .first .description1 {
  color: var(--functional-dark-grey, #58554c);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.14px;
}
pdp-page .first .price {
  color: var(--primary-offblack);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  letter-spacing: 0.2px;
}

pdp-page .second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
pdp-page .second label {
  color: var(--primary-offblack);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.16px;
}

pdp-page .third {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

pdp-page .third select {
  width: 100%;
  color: var(--primary-offblack);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.16px;

  padding-bottom: 16px;
  border: none;
  border-bottom: 1px solid var(--primary-offblack);

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  position: relative;
  outline: none;
}

pdp-page .third .arrow {
  position: absolute;
  top: 1.5px;
  right: 0;
}

pdp-page .third p.secondary {
  color: var(--primary-offblack);
  text-align: center;
  font-family: Forum;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.48px;

  display: inline;
}
pdp-page .third p.tertiary {
  color: var(--primary-offblack);
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 12px */
  letter-spacing: 0.1px;
}

pdp-page .third .ctr {
  display: flex;
  align-items: center;
  gap: 4p;
}

pdp-page .fourth {
  display: flex;
  gap: 8px;
  width: 100%;
}

pdp-page .disclaimer {
  color: var(--functional-dark-grey, #58554c);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.12px;
}

pdp-page .fourth button {
  display: flex;
  height: 56px;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  border-radius: 12px;
  background: var(--primary-offblack);

  color: var(--primary-offwhite);
  font-family: Forum;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */
  letter-spacing: 0.6px;
  cursor: pointer;
}
pdp-page .fourth select {
  display: flex;
  width: 72px;
  height: 56px;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: none;

  text-align: center;
  color: var(--primary-offblack);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px;
  background: url('static/assets/chevron-down.svg') no-repeat right center;
  background-size: 20px;
  background-color: var(--secondary-peach-orange, #f8e7dc);

  position: relative;

  outline: none;
}

pdp-page .fifth {
  display: flex;
  padding: 16px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  background: var(--secondary-mellow-yellow, #fcf6c3);
}

pdp-page .fifth > div {
  display: flex;
  height: 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
pdp-page .fifth > div > p {
  color: var(--primary-offblack, #231f1e);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.12px;
}

pdp-page .sixth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
pdp-page .sixth p {
  color: var(--primary-offblack, #231f1e);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.12px;
}
pdp-page .sixth > div {
  display: flex;
  gap: 16px;
}
pdp-page .sixth button {
  display: flex;
  padding: 4px 12px 4px 8px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: var(--secondary-peach-orange, #f8e7dc);

  color: var(--primary-offblack, #231f1e);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.14px;
}

pdp-page .seventh {
  gap: 0px;
}

pdp-page .accordion-top.closed {
  border-bottom: 1px solid var(--primary-offblack);
}
pdp-page .accordion-top:not(:last-child) {
  border-bottom: none;
}
pdp-page .accordion-top {
  display: flex;
  padding: 24px 0px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  align-self: stretch;
  border-top: 1px solid var(--primary-offblack);

  color: var(--primary-offblack, #231f1e);
  font-family: Forum;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.64px;
}
pdp-page .accordion-content {
  color: var(--primary-offblack, #231f1e);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.16px;
  padding-bottom: 24px;
}

pdp-page .seventh {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.color-selector {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 8px;
}

.color-thumbnail {
  width: 100%;
  border: 2px solid transparent;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 12px;
  background: var(--functional-x-light-grey, #faf8f4);

  overflow: hidden;
  transition: transform 0.3s ease;
}

.color-thumbnail img {
  object-fit: contain;
  aspect-ratio: 1;
  width: 100%;
}

.color-thumbnail.selected {
  transform: scale(1.1);
}

.product-info section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.product-info .labels {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

pdp-page .labels > span {
  display: flex;
  height: 30px;
  padding: 0 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  background: var(--secondary-light-sky-blue, #c3d4f4);
  color: var(--primary-offblack, #231f1e);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.42px;
}

.product-details {
  width: 60%;
  gap: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/*
PLP
 */

my-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  padding: 16px var(--offset-left);
  gap: 32px;
  cursor: pointer;
}

my-filter > .left span {
  color: var(--functional-dark-grey, #58554c);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.14px;
}

my-filter label {
  cursor: pointer;
}

my-filter > .left p,
my-filter label {
  color: var(--primary-offblack, #231f1e);
  text-align: center;
  font-family: Forum;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */
  letter-spacing: 0.6px;
}

my-filter > .left {
  display: flex;
  gap: 12px;
  flex: 1;
  align-items: center;
}
my-filter > .right {
  display: flex;
  flex: 1;
  gap: 32px;
  justify-content: flex-end;
  align-items: center;
}

my-filter button {
  display: flex;
  padding: 5.25px 4.5px 5.291px 4.5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
}

my-filter object {
  pointer-events: none;
}

multi-select span {
  display: flex;
  width: 20px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  background: var(--secondary-blush-pink, #f2d3f6);

  color: var(--primary-offblack, #231f1e);
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 12px */
}

multi-select .label-ctr {
  display: flex;
  color: var(--primary-offblack, #231f1e);
  font-family: Forum;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */
  letter-spacing: 0.6px;
}

my-filter select,
my-filter input {
  position: absolute;
  bottom: -64px;
  left: 0;
  z-index: 10;
}

multi-select {
  position: relative;
}

plp-page #hero {
  display: flex;
  position: relative;
}

plp-page #hero > div {
  flex: 1;
}

plp-page #hero > div:first-child {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  background: none;
}

plp-page #hero h3 {
  color: var(--primary-offwhite, #fff);
  text-align: center;
  font-family: Forum;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 67.2px */
  letter-spacing: 2.24px;
}

plp-page #hero .category-ctr {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}

plp-page .category-ctr span {
  display: flex;
  height: 40px;
  padding: 14px 16px 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--secondary-peach-orange, #f8e7dc);

  color: var(--primary-offblack, #231f1e);
  text-align: center;
  font-family: Forum;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.48px;
}

.product-grid {
  margin: 0 var(--offset-left);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(326px, 1fr));
  grid-gap: 80px 8px;
}

.grid-item {
  text-align: center;
  border: 1px solid #000;
}

.grid-item.collection-item {
  grid-column: span 2;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  transition: width 0.5s ease;
  overflow: hidden;
  z-index: 2;
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 30vw;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: right 0.5s ease;
  z-index: 3;
  gap: 18px;

  display: flex;
  flex-direction: column;
}

.cart-top {
  display: flex;
  align-items: center;
  self-align: start;
  justify-content: space-between;
}
#cart-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-total {
  border-top: 1px solid var(--primary-offblack);
  margin-top: auto;
  padding-top: 10px;
}

.cart-drawer.open {
  right: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.overlay.open {
  width: 100vw;
}

.close-cart-btn {
  cursor: pointer;
}

.more {
  color: var(--primary-offwhite);
  background: var(--primary-offblack);
  display: flex;
  height: 56px;
  padding: 17px 48px 15px 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--primary-offblack, #231f1e);
  margin: 0 auto;
  cursor: pointer;
}

.page-counter {
  color: var(--primary-offblack, #231f1e);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.16px;
  margin-bottom: 32px;
  text-align: center;
}

/* MOBILE MENU */

#mobile-menu-button {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9;
  width: 32px;
  height: 32px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
  display: inline-block;
}

.bar:nth-child(2) {
  opacity: 1;
}

.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(1px, 8px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(1px, -8px);
}

:root {
  --header-height: 56px;
  --offset-left: 56px;
  --offset-right: 48px;
  --secondary-amethyst-purple: #c7a2f1;
  --primary-offblack: #231f1e;
  --secondary-mellow-yellow: #fcf6c3;
  --secondary-peach-orange: #f8e7dc;
  --secondary-mellow-yellow-rgba: rgba(252, 246, 195, 0.6);
  --secondary-cherry-pink: #b5046d;
  --primary-offwhite: #fff;
  --functional-x-light-grey: #faf8f4;
}

@media screen and (max-width: 768px) {
  :root {
    --header-height: 56px;
    --offset-left: 12px;
    --offset-right: 10px;
  }

  .grid-item.collection-item {
    grid-column: span 1;
  }

  #mobile-menu-button {
    display: flex;
    z-index: 99;
  }
  #mobile-menu-button.open span {
    background: var(--primary-offwhite);
  }

  #mobile-menu-button .bar {
    margin: 2px 0;
    height: 2px;
    width: 20px;
  }

  #user-control,
  #search-ctr {
    display: none;
  }

  #right-ctr {
    justify-content: flex-end;
  }
  #left-ctr {
    justify-content: flex-start;
  }

  header p,
  header .nav-link:not([id='logo']) {
    display: none;
  }

  header > div {
    gap: 8px;
  }

  header .nav-link {
    color: var(--primary-offwhite);
  }

  #mobile-nav {
    background: var(--primary-offblack);
    position: absolute;
    width: 0vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 11;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-transform: uppercase;
    color: var(--primary-offwhite);
    transition: all 0.5s ease;
    display: flex;
    backdrop-filter: blur(96px);
    opacity: 80%;
  }

  #mobile-nav.open {
    width: 100vw;
  }

  #mobile-nav.open a {
    display: block;
  }
  #mobile-nav.open {
    width: 100vw;
  }
  #search-button {
    margin-top: 0;
  }

  /* HOME */
  #hero {
    flex-direction: column;
  }

  #hero > div {
    height: 100vh;
    background: var(--secondary-mellow-yellow-rgba);
    margin-bottom: 51px;
  }

  #hero p {
    font-size: 14px;
    letter-spacing: 0.14px;
  }

  #hero .title {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 36.4px */
    letter-spacing: 1.12px;
  }

  .hero-img {
    height: 60vh;
    object-fit: cover;
  }

  #hero .ctr {
    padding-bottom: 0;
  }

  #hero .content {
    width: 80%;
  }

  .glide__arrows {
    display: none;
  }

  .categories {
    margin-right: 0;
    margin-bottom: 24px;
  }

  my-filter {
    cursor: default;
  }

  my-filter .left {
    justify-content: center;
  }

  my-filter .right {
    text-align: center;
    font-family: Forum;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 18px */
    letter-spacing: 0.6px;
    gap: 8px;
  }

  my-filter .right span {
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 200px;
    background: var(--secondary-blush-pink, #f2d3f6);

    color: var(--primary-offblack, #231f1e);
    text-align: center;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 12px */
  }

  my-filter button {
    padding: 0;
  }

  footer {
    height: auto;
    padding: 96px 32px 0px 32px;
    background: linear-gradient(
      180deg,
      rgba(195, 212, 244, 0) 0%,
      #c3d4f4 17.19%,
      #f8e7dc 62.5%,
      #fcf6c3 100%
    );
  }

  footer .column.join {
    text-align: center;
    display: flex;
    padding: 0px 24px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    padding-bottom: 40px;
  }

  footer .column.join p {
    text-align: center;
    font-weight: 400;
    margin-bottom: 8px;
  }

  footer .column.join h3 {
    border-top: none;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 130%; /* 36.4px */
    letter-spacing: 1.12px;
    padding: 0;
  }

  footer .column {
    gap: 0px;
  }

  footer button {
    display: flex;
    height: 40px;
    padding: 14px 16px 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--primary-offblack);
    color: var(--primary-offwhite, #fff);
    font-family: Forum;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    letter-spacing: 0.48px;
  }

  footer #butterfly,
  footer #shop > .group,
  footer #care > .group {
    display: none;
  }

  footer #shop {
    margin-bottom: 40px;
  }

  footer #shop > h3 {
    border-bottom: 0.5px solid var(--primary-offblack);
  }

  footer .column .group {
    gap: 20px;
    margin-bottom: 32px;
  }

  footer .column .group.contact > div {
    flex-direction: row !important;
  }

  footer .column .group.center {
    text-align: center;
    align-items: center;
    gap: 16px;
  }

  footer .column .group.center h3 {
    border: none;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.64px;
    padding: 0;
  }

  footer .column .group.center > div {
    align-self: center !important;
  }

  footer h3 {
    color: var(--primary-offblack, #231f1e);
    font-family: Forum;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 18px */
    letter-spacing: 0.6px;
    padding: 24px 0;
    border-top: 0.5px solid var(--primary-offblack);
    width: 100%;
  }

  footer #shop {
    border-bottom: 0.5px solid var(--primary-offblack);
  }

  footer p {
    color: var(--primary-offblack, #231f1e);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.16px;
  }

  footer > .top {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;
  }

  footer .bottom {
    display: none;
  }

  footer .accordion-minus,
  footer .accordion-plus {
    display: block;
  }

  .product-card img {
    object-fit: cover;
    height: 60vw;
  }

  .product-card .img-ctr {
    margin-bottom: 8px;
  }

  .product-card .content {
    padding: 0px 8px;
  }
  .product-card .content .color-ctr {
    display: flex;
    gap: 6px;
    align-items: center;
  }

  .product-card .content .color {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    padding: 4;
  }

  .product-card .content .color-ctr {
    color: var(--primary-offblack, #231f1e);
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 12px */
    letter-spacing: 0.1px;
  }

  .product-card .content .title {
    font-size: 14px;
    line-height: 150%; /* 21px */
    letter-spacing: 0.56px;
  }
  .product-card .content .description {
    font-size: 12px;
    letter-spacing: 0.12px;
  }
  .product-card .content .price {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.6px */
    letter-spacing: 0.14px;
  }

  .product-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 32px 4px;
  }

  plp-page #hero img {
    max-height: 60vh;
  }
  plp-page #hero h3 {
    color: var(--primary-offwhite, #fff);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 43.2px */
    letter-spacing: 1.44px;
  }
  plp-page #hero img:not(:first-child) {
    display: none;
  }
  plp-page #hero > div {
    margin-bottom: 0;
    gap: 16px;
  }

  plp-page .category-ctr {
    display: flex;
    margin: 32px 0px 44px 32px;
    gap: 16px;
  }

  plp-page .category-ctr span {
    display: flex;
    height: 40px;
    padding: 14px 16px 12px 16px;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    background: var(--secondary-peach-orange, #f8e7dc);

    color: var(--primary-offblack, #231f1e);
    text-align: center;
    font-family: Forum;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    letter-spacing: 0.48px;
  }

  plp-page #hero > div:first-child {
    bottom: 32px;
    gap: 0;
  }

  pdp-page .first {
    gap: 4px;
  }
  pdp-page .first h3 {
    font-size: 28px;
    line-height: 130%; /* 38.4px */
    letter-spacing: 1.12px;
  }
  pdp-page .second {
    gap: 12px;
  }
  .color-selector {
    gap: 23px;
  }

  pdp-page .fourth {
    flex-direction: column;
  }

  pdp-page .sixth {
    margin-bottom: 64px;
  }
  pdp-page .fourth select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  pdp-page .fourth button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
  }
}
