* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1440px;
  height: var(--header-height);
  margin: 0 auto;
  z-index: 100;
}

.header-ctr {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--offset-right) 0 var(--offset-left);
  background: linear-gradient(180deg, #c3d4f4 0%, rgba(195, 212, 244, 0) 100%);
}

.header-ctr > div {
  height: inherit;
  background: pink;
}

footer {
  height: 739px;
  background: linear-gradient(180deg, rgba(195, 212, 244, 0) 0%, #c3d4f4 100%);
  padding: 104px 167px 67px 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > .top {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
}

footer > .bottom {
  margin-top: auto;
  margin-bottom: 24px;
}

.footer-join {
  text-align: right;
}

footer > .copyright {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1px;
}

/*
HOME
 */
.hero {
  max-height: 720px;
  display: flex;
}

.hero-img {
  display: block;
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 100%;
  object-fit: contain;
  aspect-ratio: 1;
}

.spacer {
  height: 120px;
  background: red;
  opacity: 50%;
}

.carousel {
  height: 752px;
  background: yellow;
}

/*
PDP
 */
.product-img {
  aspect-ratio: 0.75;
  object-fit: contain;
  width: 100%;
}

/* ?: maybe it can be the main
 */
.pdp-ctr {
  display: flex;
  margin-top: var(--header-height);
  padding-left: 56px;
  padding-right: 60px;
}

.product-img-ctr {
  flex: 1;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-template-rows: min-content;
}

.product-info {
  width: 41.8%;
  background: violet;
  padding-top: 56px;
}

.product-details {
  width: 60%;
  gap: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/*
PLP
 */
.filter-bar {
  padding: 16px var(--offset-left);
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.filter-bar .left {
  background: red;
}

.filter-bar > .left {
  background: red;
}
.filter-bar > .right {
  background: blue;
}

.product-grid {
  padding: 0 var(--offset-left);
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(323px, 1fr));
  grid-template-rows: repeat(auto, minmax(523px, 664px));
}

.grid-item {
  text-align: center;
  border: 1px solid #000;
}

.grid-item.collection-item {
  grid-column: span 2;
}

:root {
  --header-height: 56px;
  --offset-left: 56px;
  --offset-right: 48px;
}

@media screen and (max-width: 768px) {
  :root {
    --header-height: 56px;
    --offset-left: 12px;
    --offset-right: 10px;
  }
  body {
    background: olive;
  }

  .product-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(100%, 1fr)
    ); /* Switch to 1 column on small screens */
  }

  .grid-item.collection-item {
    grid-column: span 1; /* Ensure single column for collection items */
  }
}
