:host {
  display: block;
  height: inherit;
  width: inherit;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1440px;
  height: var(--header-height);
  margin: 0 auto;
  z-index: 100;
}

.header-ctr {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--offset-right) 0 var(--offset-left);
  background: linear-gradient(180deg, #c3d4f4 0%, rgba(195, 212, 244, 0) 100%);
}

.header-ctr > div {
  height: inherit;
  background: pink;
}

